name: '{{FieldName}}'
handle: {{FieldHandle}}
instructions: '{{FieldInstructions}}'
searchable: true
translationMethod: site
translationKeyFormat: null
type: craft\fields\Tags
settings:
    allowMultipleSources: false
    allowLimit: false
    sources: '*'
    source: '{{FieldSource}}'
    targetSiteId: null
    viewMode: null
    limit: null
    selectionLabel: ''
    localizeRelations: false
    validateRelatedElements: ''
contentColumnType: string
fieldGroup: null