<div class="{{ComponentPascal}}">
    {# Your blocks go here, for example: #}
    {#
    {% block eyebrow %}{% endblock %}
    {% block heading %}{% endblock %}
    {% block subheading %}{% endblock %}
    {% block copy %}{% endblock %}
    #}
</div>