<div class="FlexibleContent">
    <div class="FlexibleContent-inner">
        <div class="FlexibleContent-content">
            {% block eyebrow %}{% endblock %}
            {% block heading %}{% endblock %}
            {% block subheading %}{% endblock %}
            {% block copy %}{% endblock %}
        </div>
        <div class="FlexibleContent-media Media">
            media
        </div>
    </div>
</div>